$serif: 'Martel', Georgia, Cambria, "Times New Roman", Times, serif;
$sans-serif: Roboto, "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Geneva, Verdana, sans-serif;
$display: Roboto Condensed, "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Geneva, Verdana, sans-serif;
$blue: #0095F5;
$darkblue: #0071CA;
$bglight: #f7f7f7;