$serif: 'Martel', Georgia, Cambria, "Times New Roman", Times, serif;
$sans-serif: Roboto, "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Geneva, Verdana, sans-serif;
$display: Roboto Condensed, "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Geneva, Verdana, sans-serif;
$fgcolor: rgba(255,255,255,0.9);
$bgcolor: #2B3944;
$bgcoloralt: #0E669E;
$bgcolorlighter: #23313C;
$linkcolor: #23A0F1;
$darkblue: #0071CA;