@import '_theme';

footer {
	color: rgba(0,0,0,0.5);
	background: $blue;
	color: #fff;
	padding: 2em 0;

	a {
		color: #fff;
	}

	small {
		display: block;
		opacity: 0.7;
	}

	> div {
		display: flex;
		> a {
			margin-right: 20px;
		}
	}
}