@import 'normalize';
@import '_theme';
@import 'root';

.main {
    padding: 20px 0;
}

.item {

    .heading {

        background: $bglight;

        h2 {
            font-family: $display;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: 300;

            display: flex;
            padding: 1em 0;
            color: #cecece;

            a {
                color: $blue;
                margin-right: 0.2em;
            }

        }
    }

}

table.wrapup {

    border-top: 1px solid #f7f7f7;

    tr td {
        padding-top: 0.3em;
        vertical-align: top;
        padding: 0.5em;
    }

    tr:first-child td {
        padding-top:: 1em;
        &:last-child {
            color: $darkblue;
        }
    }

    td:first-child {
        font-weight: 700;
        width: 22%;
        background: $bglight;
    }
}

aside {
	border-left: 1px solid #f0f0f0;
    position: absolute;
    right: 0;
    top: 0;
    width: 168px;
    border-radius: 2px;
    padding: 0 1em;
    display: none;

    p {
    	font-size: 16px;
    }

    img {
        max-width: 100%;
    }

    h3 {
    	margin-top: 0;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {

    body {
        font:18px/1.4 $serif;
    }

    .main {
        padding: 30px 0;
    }

	h2 {
		font-size: 2em;
	}

    article {
        max-width: calc(100% - 240px);
        width: 750px;
    }

    aside {
        display: block;
    }
	

}

@import 'header';
@import 'footer';
@import 'teaser';