@import '_theme';

.teaser {

	background: $bgcoloralt;
	border-top: 2px solid #438FBF;
	margin-top: 4em;
	padding-bottom: 30px;
	font-size: 16px;
	color: #fff;

	font-family: Roboto, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

	h2 {
		min-height: 3em;
		font-weight: 300;
	}

	.extra-wrapper {
		display: flex;
		margin: 0 -1em;
		flex-wrap: wrap;
	}

	.box {
		display: flex;
		flex-direction: column;
		flex: 1 1 30%;
		margin: 0 1em;
		min-width: 16em;

		strong {
			font-family: $sans-serif;
			padding: 5px 10px;
			display: block;
		}

		&.apis {
			dl {
				background-image: linear-gradient(to right, #DA8211, #DA8211 50%, #FF8F00 50%);
				dt {
					color: #FFF7D9;
				}
			}
		}

		&.industries {
			dl {
				background-image: linear-gradient(to right, #B50048, #B50048 50%, #E4004F 50%);
				dt {
					color: #FBDCE7;
				}
			}
		}

		dl {

			font-family: $sans-serif;
			flex-grow: 1;
			background-image: linear-gradient(to right, $darkblue, $darkblue 50%, #22A8FF 50%);
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			margin: 0;

			a {
				color: #fff;
			}

			dt,
			dd {
				width: 50%;
				margin: 0;
				box-sizing: border-box;
				padding: 5px 10px;
				border-bottom: 1px solid rgba(0,0,0,0.1);
			}

			dt {
				border-bottom: 1px solid rgba(255,255,255,0.1);
				color: #93D5FF;
			}

			dd {
				color: #fff;
			}

			dd:first-of-type, dt:first-of-type {
				background: #f7f7f7;
    			color: #222;
			}

			dd:last-of-type, dt:last-of-type {
				border-bottom: 0;
			}

		}

	}

}

@media only screen and (min-width: 916px) {

	.teaser {
		.box {
			h2 {
				height: 3em;
			}
			p {
				height: 2em;
			}
		}
	}

}

@media only screen and (max-width: 603px) {
	.teaser h2 {
		min-height: initial;
	}
}

/* SCROLL SNAP FTW */
@media only screen and (max-width: 603px) {

	@supports ( (scroll-snap-type: mandatory) or (-webkit-scroll-snap-type: mandatory) ) {
	    .teaser {

	    	padding-bottom: 0;

	    	.wrapper {
	    		overflow: auto;
				scroll-snap-type: mandatory;
				scroll-snap-destination: 0% 100%;
				scroll-snap-points-x: repeat(100%);
				margin: 0px;
				width: auto;

				.extra-wrapper {
					margin: 0;
					flex-wrap: nowrap;
				}

				.box {
					flex: 1 0 100%;
					width: 100%;
					margin: 0;
					padding: 0 1em;
					box-sizing: border-box;
				}
	    	}

	    	.drops {
	    		text-align: center;

	    		span {
	    			display: inline-block;
					background: rgba(0, 0, 0, 0.2);
					width: 8px;
					height: 8px;
					margin: 10px;
					border-radius: 8px;
					cursor: pointer;

					&.active {
						background: rgba(0, 0, 0, 0.5);
					}
	    		}
	    	}

	    }
	}

}