@import '_theme';

.teaser {

	border-top: 2px solid #f7f7f7;

	margin-top: 3em;
	margin-bottom: 3em;
	padding-bottom: 30px;
	font-size: 16px;

	.extra-wrapper {
		display: flex;
		margin: 0 -1em;
		flex-wrap: wrap;
	}

	.box {
		display: flex;
		flex-direction: column;
		flex: 1 1;
		margin: 0 1em;
		min-width: 16em;

		p {
			margin-top: 0;
		}

		strong {
			font-family: $sans-serif;
			padding: 5px 10px;
			display: block;
		}

		&.apis {
			.list {
				background: #FFB700;
				div > div {
					color: #fff;
					background: #FFB700;
					&:first-child {
						background: #FF8F00;
						color: #FFF7D9;
					}
				}
			}
		}

		&.industries {
			.list {
				background: #E4004F;
				div > div {
					color: #fff;
					background: #E4004F;
					&:first-child {
						background: #B50048;
						color: #FBDCE7;
					}
				}
			}
		}

	}

	.list {

		font-family: $sans-serif;
		flex-grow: 1;
		background: $blue;

		a {
			color: #fff;
		}

		> div {
			display: flex;
			background: #fff;

			div {
				flex: 1 1;
				
				color: #fff;
				background: $blue;
				padding: 5px 10px;
				border-bottom: 1px solid rgba(0,0,0,0.1);

				&:first-child {
					background: $darkblue;
					border-bottom: 1px solid rgba(255,255,255,0.1);
					color: #93D5FF;
				}
				
			}
		}

	}

	.box .list > div.heading {
		background: $bglight;
		div {
			background: transparent;
			color: #222;
			&:first-child {
				background: transparent;
				color: #222;
			}
		}
	}

}

@media only screen and (min-width: 916px) {

	.teaser {


		.box {
			h2 {
				height: 3em;
			}
			p {
				height: 5em;
			}
		}
	}

}